# PlatformIO
.pio
.vscode
lib/deps

# Node.js
**/node_modules/
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/
package-lock.json

# Environment/Secrets
.env
.env.local

# OS files
.DS_Store
Thumbs.db
